*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

main{
    max-height: 700px;
    max-width: 350px;
    text-align: center;
    background-color: black;
    border: 1rem solid gray;
    border-radius: 50px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 0.5rem;
}

input{
    min-height: 80px;
    max-width: 85%;
    border-radius: 25px;
    font-size: 3rem;
    background-color: black;
    border: 0.5rem solid gray;
    margin: 1rem;
    color: white;
    text-align: end;
    overflow: auto;
}

button{
    min-height: 75px;
    min-width: 75px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#main-button{
    background-color: orange;
}